.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.businesses-display {
  display: flex;
  flex-flow: row wrap;
}

.business-div {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.business-div > img {
  width: 250px;
}

.navlink {
  color: yellow;
  text-decoration: none;
  margin: 5px;
  background-color: rgb(53, 148, 53);
  padding: 5px;
  border-radius: 5px;
}

.active-link {
  font-size: 1.5rem;
  color: blue;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
  width: 100%;
}

header > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-page-div, .app-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-page-div {
  padding-top: 20px;
}

.search-input-div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.search-page-div > .search-input-div > * {
  margin: 5px;
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.login-div > .login-buttons-div > *{
  margin: 5px;
}